@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Roboto&display=swap');

:root {
    --primary-color: #484F4F;
    --secondary-color: #E7E7E0;
    --accent1-color: #142021;
    --accent2-color: #888F8F;

    --heading-font: "Concert One", sans-serif;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: var(--primary-color);
    --nav-link-color: var(--secondary-color);
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--secondary-color);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--secondary-color);
}

p {
    padding: 10px 25px;
}

nav {
    background-color: var(--nav-background-color);
    display: flex;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}